{{ define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end }}

{{ define "main" }}
    <h1>{{ .Title }}</h1>

    <div class="text-justify">

    <p>{{ .Content }}</p>
    
    </div>

    <a id="calltoaction" class="btn btn-primary btn-lg" href="mailto: bpesquet [at] gmail [dot] com" role="button">Reach out to me</a>

    {{ if and .Site.DisqusShortname (not .Params.disableComments) }}
        <h2 class="page-header">{{ i18n "comments" }}</h2>
        {{ template "_internal/disqus.html" . }}
    {{ end }}
{{ end }}